/* body{
    background: #FFF8F3;
} */
.font{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background:#FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.logo h2{
    font-size: 45px;
    font-weight: EXTRA-BOLD;
}
h2>span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    border: none;
    border-radius: 5px;
    background:#FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    cursor: pointer;
}

#banner{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerConten{
    max-width: 585px;
}
.bannerConten h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
.bannerConten h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.bannerConten p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.bannerImage img{
    width: 650px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
.aboutContainer{
    width: 71%;
    max-width: 1140px;
   margin: 0 auto;
   text-align: center;
   background-color: #FFF8F3;
   padding: 131px 157px;
}
.sectionHeading {
    max-width: 827px;
    text-align: center;
    
}
.sectionHeading h2{
   font-size: 35px;
   margin-bottom: 30px;
}
.sectionHeading p{
   font-size: 18px;
   margin-bottom: 30px;
   line-height: 30px;
   color: #757575;
}

.aboutInfo{
    display: flex;
    justify-content: space-around;

}
.aboutInfo .infoCard p{
   font-size: 18px;
    color: #757575;
    line-height: 30px;
}

#skills{
    padding-top: 130px;
}
.skillContainer{
    width: 71%;
    max-width: 1140;
    margin: 0 auto;
}
.skillHeading{
     max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.skillBox {
    display: flex;
    gap: 24px;
}
.skillBox .skillCard{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #1818182e;
}
.skillCard img{
max-width: 44px;
margin-bottom: 30px;
}
.skillCard h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skillCard p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
